@import "tailwindcss";

:root {
  --background: #0E0E12;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-cream: #FFFAEA;
  --color-muted: #a1a1ab;
  --color-accent: #62f6b5;
  --color-link: #67ADDC;
  --color-surface: #0E0E12;
  --color-border: #3F3F46;
  --color-border-active: #1e4a37;
  --color-pill-empty: #141414;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
